.button-default {
  all: unset; /* nukes browser defaults */
  height: var(--button-default-h);
  width: var(--button-default-w);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--gray);
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow-black);
  color: var(--black);
  cursor: pointer;
  font-family: var(--font-title);
  font-weight: var(--font-weight-heavy);
  margin: 0;
  text-transform: uppercase;
}

.button-default:hover {
  background-color: var(--yellow-bold);
  color: var(--black);
}

.nav-button {
  height: var(--nav-button-default-h);
  width: fit-content;
  background-color: var(--gray);
  font-size: var(--font-size-larger);
  font-weight: var(--font-weight-heaviest);
  padding: var(--spacer-small) var(--spacer-small);
}

.admin-button,
.folder-button,
.file-button {
  height: fit-content;
  width: var(--max-percent-width);
  background-color: var(--black);
  border: var(--border-solid-default);
  color: var(--yellow-bold);
  padding: var(--spacer-small) var(--spacer-medium);
}

.admin-button {
  border-color: var(--blue);
  color: var(--blue);
}

.folder-button {
  border-color: var(--pink);
  color: var(--pink);
}

.file-button {
  border-color: var(--orange);
  color: var(--orange);
}

.admin-button:hover,
.folder-button:hover,
.file-button:hover {
  background-color: var(--yellow-bold);
  border-color: var(--yellow-bold);
  color: var(--black);
}

.admin-button .emoji,
.folder-button .emoji,
.file-button .emoji {
  font-size: var(--font-size-larger);
}

.fit-content-button {
  width: fit-content;
  padding: 0 var(--spacer-default);
}
