/* Add these ad-hoc to various elements */
.emoji {
  font-family: var(--font-emoji) !important;
}

.file-width {
  width: fit-content;  
}

.flex-gap {
  gap: var(--spacer-default);
}

.font-fancy {
  font-family: var(--font-title);
}
.font-normal {
  font-family: var(--font-text);
}

.form-width {
  width: var(--form-width);  
}

.frame-border-white {
  border: 0.5rem double var(--gray);
  border-radius: var(--border-radius-big);
  padding: var(--spacer-biggest);
}

.justify-content-center {
  justify-content: center;
}

/* Make hidden, an old fav */

.hidden {
  display: none;
}

.lowercase {
  text-transform: lowercase;
}

.margin-bottom {
  margin-bottom: var(--spacer-default);
}

.margin-top {
  margin-top: var(--spacer-default);
}

.width-default {
  width: var(--width-default-percent);
}

.border-red {
  border: 2px solid red;
}

.border-green {
  background-color: aqua;
  border: 2px solid green; 
}

/* .border-purple {
  border: 2px solid var(--purple);
  padding: 0.5rem;
} */



.uppercase {
  text-transform: uppercase;
}
