/* Add these ad-hoc to various elements */

/* .capitalize {
  text-transform: capitalize;
} */

.card {
  width: var(--width-default-percent);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: var(--spacer-default);
  background-color: var(--black);
  border: var(--border-solid-default);
  /* border-color: var(--orange); */
  border-radius: var(--border-radius-default);
  padding: 0.5rem;
}

.card-name {
  /* color: var(--orange); */
  font-family: var(--font-text);
}

.share-page-name {
  font-family: var(--font-title);
 
}





/* .file-background-color {
  background-color: var(--orange);
} */

.delete-color {
  color: var(--red-bold);
}

.folder-color {
  color: var(--gray); 
}

.file-border {
  border-color: var(--orange);
}

.file-color {
  color: var(--orange); 
}

.admin-border {
  border-color: var(--blue);
}

.admin-color {
  color: var(--blue); 
}

.share-border {
  border-color: var(--pink);
}

.share-color {
  color: var(--pink); 
}

.highlight-color {
  color: var(--gold);
}

.card:hover,
.card:hover .card-name,
.card:hover .card-button {
  border-color: var(--gold);
  /* color: var(--gold); */
}

.details-backdrop, .share-backdrop, .file-extension {
  width: fit-content;
  border-radius: var(--border-radius-default);
  color: var(--black);
  font-family: var(--font-text);
}

.details-backdrop, .file-extension {
  background-color: var(--gray);
  color: var(--black);
  padding: var(--spacer-small) var(--spacer-default);
}

.share-backdrop {
  background-color: var(--black);
  color: var(--white);
  /* margin: var(--spacer-default) 0; */
  padding: var(--spacer-default);
}

.details-backdrop {
  font-size: small;
}

.error-message {
  color: var(--yellow-bold);
  font-family: var(--font-error);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-heavy);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.file-extension {
  font-size: var(--font-size-default);
}

.emoji {
  font-family: var(--font-emoji) !important;
}

.file-width {
  width: fit-content;  
}

.flex-gap {
  gap: var(--spacer-default);
}

.flex-wrap {
  flex-wrap: wrap;
}

.font-fancy {
  font-family: var(--font-title);
}

.font-normal {
  font-family: var(--font-text);
}

.form-width {
  width: var(--form-width);  
}

.frame-border-white {
  border: 0.5rem double var(--gray);
  border-radius: var(--border-radius-big);
  padding: var(--spacer-biggest);
}

.justify-content-center {
  justify-content: center;
}

/* Make hidden, an old fav */

.hidden {
  display: none;
}

.lowercase {
  text-transform: lowercase;
}

.margin-bottom {
  margin-bottom: var(--spacer-default);
}

.margin-top {
  margin-top: var(--spacer-default);
}
.margin-top-bottom {
  margin: var(--spacer-default) 0;
}

.margin-left-right {
  margin: 0 var(--spacer-default);
}

.margin-not-top {
  margin: 0 var(--spacer-default) var(--spacer-default) var(--spacer-default);
}

.share-description-list {
  width: var(--share-page-width);
  font-family: var(--font-text);
  font-size: var(--font-size-large);
}

.share-description-list dt {
  font-weight: var(--font-weight-heavy);
}

.font-size-large {
  font-size: var(--font-size-large);
}
.font-size-default {
  font-size: var(--font-size-default);
}

.uppercase {
  text-transform: uppercase;
}

.width-default-percent {
  width: var(--width-default-percent);
}


