/* button containers */

.button-container-col {
  width: var(--max-percent-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacer-default);
  margin: var(--spacer-default);
}

.button-container-row {
  width: var(--max-percent-width);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacer-default);
  margin: var(--spacer-default);
}

.button-container-row-center-start {
  /* width: var(--max-percent-width); */
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--spacer-default);
   margin: var(--spacer-default);
}

.button-container-row-space-evenly {
  width: var(--max-percent-width);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--spacer-default);
  /* margin-top: var(--spacer-big); */
   margin-top: var(--spacer-default);
   margin-bottom: var(--spacer-default);
}

.button-container-row-space-between {
  width: var(--max-percent-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacer-default);
  /* margin-top: var(--spacer-big); */
   margin: var(--spacer-default);
}

/* folder containers */

.current-folder-container {
  width: fit-content;
  /* min-width: 380px; */
  border-radius: var(--border-radius-default);
  color: var(--white);
  margin: 0.5rem;
  padding: 0.5rem;
}

/* element containers - general */

/* --column-based */
.element-container-col-default {
  /* width: 600px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.element-container-col-start-center {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.element-container-col-center-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

/* --row-based */


.element-container-row-default {
  width: var(--max-percent-width);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.element-container-row-center-start {
  /* width: 1000px; */
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: start;
}

.element-container-row-start-center {
  /* width: 1000px; */
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
}

.element-container-row-space-evenly {
  width: var(--max-percent-width);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.element-container-row-space-between {
  width: var(--max-percent-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacer-medium);
}

.element-container-row-start-start {
  width: var(--max-percent-width);
  display: flex;
  align-items: start;
  justify-content: start;
  gap: var(--spacer-medium);
}

.password-rules-container {
  width: var(--max-percent-width);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--spacer-small);
  border: var(--border-solid-default);
  border-radius: var(--border-radius-small);
  padding: var(--spacer-default);
  margin-bottom: var(--spacer-big);
}


