/* Flexbox containers for buttons, divs, main, etc. */

/* Button and a element containers */
.button-container-row-space-evenly {
  width: var(--max-percent-width);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--spacer-default);
  margin-top: var(--spacer-default);
  margin-bottom: var(--spacer-default);
}

.nav-button-container-row-space-evenly {
  width: var(--max-percent-width);
  max-width: var(--max-app-width);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--spacer-default);
  padding: 0 var(--spacer-default);
}

/* General element containers */
.element-container-col-default {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.element-container-col-center-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.element-container-col-start-center {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.element-container-row-default {
  width: var(--max-percent-width);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.element-container-row-center-start {
  display: flex;
  align-items: center;
  justify-content: start;
}

.element-container-row-start-center {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
}

.element-container-row-start-start {
  width: var(--max-percent-width);
  display: flex;
  align-items: start;
  justify-content: start;
  gap: var(--spacer-medium);
}

/* Special containers */
.current-folder-container {
  width: fit-content;
  border-radius: var(--border-radius-default);
  color: var(--white);
  margin: var(--spacer-default);
  padding: var(--spacer-default);
}

.password-rules-container {
  width: var(--max-percent-width);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--spacer-small);
  border: var(--border-solid-default);
  border-radius: var(--border-radius-small);
  font-family: var(--font-text);
  margin-bottom: var(--spacer-big);  
  padding: var(--spacer-default);
}
