form {
  /* NOTE - "display: contents" is especially nice because it makes the form "disappear" from the layout while still functioning for form submission. Browser support is generally good, though there are a few edge cases with accessibility tools. */
  display: contents;
}

label {
  color: var(--black);
  font-family: var(--font-title);
  font-size: var(--font-size-default);
  text-shadow: var(--text-shadow1);
  text-transform: uppercase;
}

input {
  height: var(--input-height-default);
  width: var(--max-percent-width);
  border-radius: var(--border-radius-small);
  color: var(--black);
  font-size: var(--font-size-default);
  margin-bottom: var(--spacer-big);
  padding-left: var(--spacer-medium);
}

#original-file-name-user-file-edit {
  width: 80%;
}

select {
  height: var(--input-height-default);
  width: var(--max-percent-width);
  font-size: var(--font-size-default);
  margin-bottom: var(--spacer-big);
}

#folder-image-new-folder option {
  padding: var(--spacer-big);
}

.select-font-larger {
  font-size: var(--font-size-larger);
}

textarea {
  height: 90px;
  width: var(--max-percent-width);
  font-family: var(--font-text);
  font-size: var(--font-size-default);
  margin-bottom: var(--spacer-default);
  resize: vertical; /* Allows vertical resizing, remove if not needed */
  padding: var(--spacer-medium);
  white-space: pre-line;
}
