html,
body {
  min-height: 100vh;
  min-width: 350px;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: linear-gradient(05deg, var(--orange), var(--pink));
  color: var(--black);
  /* font-family: var(--font-text); */
  font-size: var(--font-size-default);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header & Nav */
header {
  margin-bottom: var(--spacer-small);
}

.sticky-header {
  position: sticky;
  top: 0;
  width: var(--width-default-percent);
}

nav {
  border-bottom: 2px double var(--black);
  padding-bottom: var(--spacer-biggest);
}

/* Titles & Subtitles */
.page-title {
  background: linear-gradient(180deg, var(--black), var(--purple));
  font-family: var(--font-title);
  margin-bottom: var(--spacer-default);
  text-transform: uppercase;
  -webkit-background-clip: text; /* Clips background to text shape */
  -webkit-text-fill-color: transparent; /* Makes original text color transparent */
}

.title, .subtitle {
  height: fit-content;
  width: fit-content;
  font-family: var(--font-title);
  /* margin: 0;
  padding: 0; */
  padding: var(--spacer-default);
  /* text-transform: uppercase; */
}

.title h1 {
  color: var(--gold);
  font-size: var(--font-size-title);
  text-align: center;
  text-shadow: var(--text-shadow0);
}

.subtitle {
  /* color: var(--purple); */
  color: var(--gold);
  font-size: var(--font-size-large);
  text-shadow: var(--text-shadow0);
  /* text-transform: uppercase; */
}

/*  index.ejs */

.index-card {
  height: fit-content;
  width: var(--index-card-width);
  max-width: var(--max-card-width);
  padding: var(--spacer-biggest);
}

.index-title {
  font-family: var(--font-title);
  font-size: var(--font-size-large);
  font-weight: 800;
  color: var(--gold);
  text-shadow: var(--text-shadow0);
  /* text-transform: uppercase; */
}

.index-image {
  width: var(--card-width);
  height: auto;
  /* box-shadow: var(--box-shadow-white); */
  box-shadow: var(--box-shadow-black);
  opacity: .75;
}

/* user-data.ejs */

.folder-card {
  height: fit-content;
  /* width: var(--folder-card-width); */
  /* width: 35%; */
  width: fit-content;
  min-width: var(--folder-card-width);
  /* max-width: calc(var(--folder-card-width) * 5); */
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: var(--blue); */
  /* background-color: transparent; */
  border-radius: var(--border-radius-big);
  /* box-shadow: var(--box-shadow-black); */
  /* color: var(--black); */
  font-weight: 800;
  margin: var(--spacer-default);
  padding: var(--spacer-default);
  text-transform: none;
  text-wrap: wrap;
}

.folder-card span {
  font-size: 3rem;
}

.folder-card:hover {
  /* background-color: var(--gold); */
  transform: scale(1.125);
}

.folder-emoji {
  /* display: inline-block; */
  /* position: relative; */
  /* cursor: pointer; */
  font-size: 4rem; /* adjust as needed */
  margin: 0.125rem;
}

/* .folder-emoji .hovered {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
} */

/* .folder-emoji:hover .unhovered {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
} */

/* .folder-emoji:hover .hovered {
  opacity: 1;
} */

/* user-folder.ejs */

.current-folder-card {
  /* width: 90%; */
  width: fit-content;
  /* max-width: 650px; */
  /* background-color: var(--black); */

  border-radius: var(--border-radius-default);
  color: var(--white);
  margin: 0.5rem;
  /* margin: 1rem; */
  padding: 0.5rem;
}

/* .current-folder-card h2 {
  font-size: var(--font-size-default);
  text-transform: uppercase;
} */


.current-parent-folder {
   /* background-color: var(--black); */
  border: var(--border-solid-default);
  /* border-color: var(--pink); */
  border-color: var(--none);
  border-radius: var(--border-radius-default);
  /* color: var(--pink); */
  color: var(--black);
  padding: 0.5rem;
}

.current-folder-emoji span {
  font-size: 1.5rem;
}

.current-folder-name {
font-family: var(--font-title);
font-size: 1.5rem;
text-transform: uppercase;
}


.current-folder-parent {
  font-family: var(--font-text);
  text-transform: uppercase;
}

.current-folder-description {
font-family: var(--font-text);
}

.current-folder-empty {
  color: var(--gray);
  font-family: var(--font-title);
}

.current-folder-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-content: start;
  gap: var(--spacer-default);
  flex-wrap: wrap;
  /* background-color: var(--black); */
}

.folder-items {

}

.file-items {
  
}

.file-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-content: start;
  gap: var(--spacer-default);
  background-color: var(--black);
  border: var(--border-solid-default);
  border-color: var(--orange);
  border-radius: var(--border-radius-default);
  padding: 0.5rem;
}

.file-name {
  color: var(--orange);
  font-family: var(--font-text);
}

.file-card:hover, .file-card:hover .file-name, .file-card:hover .file-button {
    border-color: var(--gold);
    color: var(--gold);
}

.file-details {
  width: fit-content;
  background-color: var(--gray);
  border-radius: var(--border-radius-default);
  /* color: var(--blue-bold); */
  color: var(--black);
  font-family: var(--font-text);
  padding: var(--spacer-small) var(--spacer-default);
  font-size: small;
}

/* footer.ejs */
footer {
  position: fixed;
  bottom: 0;
  color: var(--black);
  /* font-family: var(--font-text); */
  font-size: var(--font-size-small);
  margin: var(--spacer-biggest);
  text-align: center;
  text-transform: uppercase;
}

/* misc */
