html,
body {
  min-height: 100vh;
  /* min-width: 350px; */
  min-width: 325px;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: linear-gradient(05deg, var(--orange), var(--pink));
  color: var(--black);
  font-size: var(--font-size-default);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header & Nav */
header {
  margin-bottom: var(--spacer-small);

}

.sticky-header {
  position: sticky;
  top: 0;
  width: var(--width-default-percent);
  /* background-color: blue; */
  backdrop-filter: blur(50px);
}

nav {
  /* border-bottom: 2px double var(--black);
  padding-bottom: var(--spacer-biggest); */
}

.black-border-bottom {
  border-bottom: 2px double var(--black);
  padding-bottom: var(--spacer-biggest);
}

/* Titles & Subtitles */
.page-title {
  background: linear-gradient(180deg, var(--black), var(--purple));
  font-family: var(--font-title);
  margin-bottom: var(--spacer-default);
  text-transform: uppercase;
  -webkit-background-clip: text; /* Clips background to text shape */
  -webkit-text-fill-color: transparent; /* Makes original text color transparent */
}

.title,
.subtitle {
  height: fit-content;
  width: fit-content;
  font-family: var(--font-title);
  padding: var(--spacer-default);
}

.title h1 {
  color: var(--gold);
  font-size: var(--font-size-title);
  text-align: center;
  text-shadow: var(--text-shadow0);
}

.subtitle {
  color: var(--gold);
  font-size: var(--font-size-large);
  text-shadow: var(--text-shadow0);
}

/*  index.ejs */

.index-card {
  height: fit-content;
  width: var(--index-card-width);
  max-width: var(--max-card-width);
  padding: var(--spacer-biggest);
}

.index-title {
  font-family: var(--font-title);
  font-size: var(--font-size-large);
  font-weight: 800;
  color: var(--gold);
  text-shadow: var(--text-shadow0);
}

.index-image {
  width: var(--card-width);
  height: auto;
  box-shadow: var(--box-shadow-black);
  opacity: 0.75;
}

/* user-data.ejs and user-folder.ejs*/

.folder-card {
  height: fit-content;
  min-height: 120px;
  min-width: var(--folder-card-width);
  max-width: 15rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  justify-content: center;
  border-radius: var(--border-radius-default);
  font-weight: 800;
  padding: var(--spacer-default);
  text-align: center;
  text-transform: none;
  text-wrap: wrap;
}

.folder-card span {
  font-size: 2.5rem;
}

.folder-emoji {
  font-size: 5rem; /* adjust as needed */
  margin: 0.125rem;
}

.folder-card-content {
  color: var(--gray-dk);
  font-size: 0.95rem;
}

.current-folder-emoji span {
  font-size: 1.5rem;
}

.current-folder-name {
  font-family: var(--font-title);
  font-size: 1.5rem;
  text-transform: uppercase;
}

.current-folder-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: var(--spacer-default);
  font-family: var(--font-text);
}

.current-folder-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: var(--spacer-default);
}

.subfolder-section-title,
.file-section-title {
  width: 13rem;
  background-color: var(--black);
  border: 2px solid var(--black);
  border-top-left-radius: var(--spacer-biggest);
  border-top-right-radius: var(--spacer-biggest);
  font-family: var(--font-title);
  margin-bottom: 0;
  padding: var(--spacer-default);
  text-transform: uppercase;
}

.subfolder-section-title {
  color: var(--gray);
}

.file-section-title {
  color: var(--orange);
}

.current-parent-folder-section {
   width: var(--width-default-percent);
  border: var(--border-solid-default);
  border-color: var(--none);
  border-radius: var(--border-radius-default);
  color: var(--black);
  padding: 0.5rem;
}


.subfolder-item-section,
.file-item-section {
  width: var(--width-default-percent);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 0.5rem;
  background-color: var(--black);
  border-top-right-radius: var(--spacer-biggest);
  border-bottom-right-radius: var(--spacer-biggest);
  border-bottom-left-radius: var(--spacer-biggest);
  /* box-shadow: var(--box-shadow-black); */
  margin-top: -0.25rem;
  padding: var(--spacer-big);
}

/* new-file.ejs */

#file-upload {
  height: fit-content;
  width: 100%;
  background-color: var(--black);
  border: 2px solid var(--white);
  border-radius: var(--spacer-small);
  color: var(--white);
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
}

#file-upload::file-selector-button {
  background-color: var(--blue);
  border: none;
  border-radius: var(--spacer-small);
  color: var(--white);
  cursor: pointer;
  font-weight: bold;
  margin-right: var(--spacer-default);
  padding: 0.5rem 1rem;
  transition: background 0.2s;
}

#file-upload::file-selector-button:hover {
  background-color: var(--gold);
  color: var(--black);
}

/* admin.ejs */


/* footer.ejs */

footer {
  position: fixed;
  bottom: 0;
  color: var(--black);
  font-family: var(--font-text);
  font-size: var(--font-size-small);
  margin: var(--spacer-biggest);
  text-align: center;
  text-transform: uppercase;
}
