:root {
  /* Colors */
  --black: #0e0d0c;
  --black-transparent: #0e0d0c8c;
  --white: #ececea;

  --gray: #c0c4cf;
  /* --gray-dk: #434449; */

  --blue: #0d79f2;
  --orange: #c18266;
  --pink: #ba79b5;
  --purple: #7e1d7e;
  /* --egoild: #ffdd00; */


  --red-bold: #c62626;
  --blue-bold: #2525b6;
  --yellow-bold: #ffd000;

  /* Borders */
  --border-solid-default: 2px solid;
  --border-radius-circle: 50%;
  --border-radius-big: 1rem;
  --border-radius-biggest: 1.5rem;
  --border-radius-default: 0.5rem;
  --border-radius-small: 0.25rem;

  /* Shadow Effects */
  --box-shadow-gray: inset 0 0.25rem 0.75rem var(--gray);
  /* --box-shadow-gray: inset 0 0.125rem 0.125rem var(--gray); */
  /* --box-shadow-black: inset 0 0.125rem 0.125rem var(--black); */
  /* --box-shadow-white: 0rem 1rem 3rem var(--white); */
  --box-shadow-black: 0rem 0.5rem 1rem var(--black);
  --text-shadow0: 0 1px 3px var(--red-bold), 0 1px 3px var(--blue-bold);
  --text-shadow1: 0 1px 3px var(--yellow-bold), 0 1px 3px var(--blue-bold);

  /* Element Sizing */
  --button-default-h: 1.75rem;
  --button-default-w: 5.5rem;  
  --nav-button-default-h: 2.25rem;
  --nav-button-default-w: 3.25rem;
  /* --index-card-width: 325px; */
  --share-page-width: 325px;
  --index-card-width: 100%;
  --form-width: 325px;
  --folder-card-width: 10rem;
  --width-default-percent: 100%;
  --max-card-width: 650px;

  /* Element Spacing */
  --spacer-biggest: 1rem;
  --spacer-big: 0.75rem;
  --spacer-default: 0.5rem;
  --spacer-medium: 0.25rem;
  --spacer-small: 0.125rem;

  /* Fonts */
  --font-title: "Audiowide", sans-serif;
  --font-text: "Roboto", sans-serif;
  --font-emoji: "Noto Emoji", sans-serif;
  --font-error: monospace;
  --font-size-small: 0.75rem;
  --font-size-default: 1rem;
  --font-size-large: 1.25rem;
  --font-size-larger: 1.5rem;
  --font-size-title: 2.5rem;
  --font-weight-light: 200;
  --font-weight-medium: 400;
  --font-weight-heavy: 600;
}
