:root {
  /* Colors */
  --black: #0e0d0c;
  --black-transparent: #0e0d0c8c;
  --gray: #c0c4cf;
  --gray-dk: #282a31;
  --white: #ececea;

  --blue: #0d79f2;
  --orange: #c18266;
  --pink: #ba79b5;
  --purple: #591959;

  --red-bold: #c62626;
  --blue-bold: #2525b6;
  --yellow-bold: #ffd000;

  /* Borders */
  --border-solid-default: 2px solid;

  --border-radius-circle: 50%;

  --border-radius-small: 0.25rem;
  --border-radius-default: 0.5rem;
  --border-radius-big: 1rem;
  --border-radius-biggest: 1.5rem;

  /* Shadow Effects */
  --box-shadow-black: 0rem 0.5rem 1rem var(--black);
  --text-shadow0: 0 1px 3px var(--red-bold), 0 1px 3px var(--blue-bold);
  --text-shadow1: 0 1px 3px var(--yellow-bold), 0 1px 3px var(--blue-bold);

  /* Button, Card, or Form Sizing */
  --button-height-default: 1.75rem;
  --button-width-default: 5.5rem;
  --nav-button-height-default: 2.25rem;

  --input-height-default: 1.75rem;
  --card-width-default: 275px;
  --form-width-default: 300px;
  --section-width-default: 225px --max-card-width: 650px;
  --max-app-width: 1200px;
  --max-percent-width: 100%;

  /* Element Spacing */
  --spacer-small: 0.125rem;
  --spacer-medium: 0.25rem;
  --spacer-default: 0.5rem;
  --spacer-big: 0.75rem;
  --spacer-biggest: 1rem;

  /* Font Families */
  --font-title: "Audiowide", sans-serif;
  --font-text: "Roboto", sans-serif;
  --font-emoji: "Noto Emoji", sans-serif;
  --font-error: monospace;

  /* Font Sizing and Weight */
  --font-size-smallest: 0.75rem;
  --font-size-small: 0.85rem;
  --font-size-default: 1rem;
  --font-size-large: 1.25rem;
  --font-size-larger: 1.5rem;
  --font-size-title: 2.5rem;

  --font-weight-light: 200;
  --font-weight-medium: 400;
  --font-weight-heavy: 600;
  --font-weight-heaviest: 800;
}
