:root {
  /* Colors */
  --black: #0e0d0c;
  --white: #ececea;

  --gray: #c0c4cf;

  --blue: #0d79f2;
  --orange: #c18266;
  --pink: #ba79b5;

  --box-shadow-gray: inset 0 0.25rem 0.75rem var(--gray);
  --box-shadow-white: 0rem 1rem 3rem var(--white);

  --button-default-h: 1.75rem;
  --button-default-w: 5.5rem;

  --font-title: "Audiowide", sans-serif;
  --font-text:  "Roboto", sans-serif;
  --font-emoji: "Noto Emoji", sans-serif;
  --font-size-default: 1rem;

  --card-width: 300px;
  --width-default-percent: 100%;

  --border-radius-circle: 50%;
  --border-radius-big: 1rem;
  --border-radius-default: 0.5rem;
  --border-radius-small: 0.25rem;

  --spacer-biggest: 1rem;
  --spacer-big: 0.75rem;
  --spacer-default: 0.5rem;
  --spacer-medium: 0.25rem;
  --spacer-small: 0.125rem;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: linear-gradient(05deg, var(--orange), var(--pink));
  color: var(--black);
  font-family: var(--font-text);
  font-size: var(--font-size-default);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Titles */
.page-title {
  display: inline-block;
  background: linear-gradient(180deg, var(--gray), var(--black));
  text-transform: uppercase;
  -webkit-background-clip: text; /* Clips background to text shape */
  -webkit-text-fill-color: transparent; /* Makes original text color transparent */
}



/* BUTTON element */
.button-default {
  all: unset; /* nukes browser defaults */
  height: var(--button-default-h);
  width: var(--button-default-w);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: var(--border-default);
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow-gray);
  color: var(--black);
  cursor: pointer;
  font-family: var(--font-title);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-heavy);
  margin: 0;
  text-transform: uppercase;
}

.button-default:hover {
  background-color: var(--orange);
  box-shadow: var(--box-shadow-gray);
  color: var(--black);
   transform: scale(1.1);
}

/* CONTAINERS */

.button-container-col {
  width: var(--width-default-percent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacer-default);
}

.button-container-row-space-evenly {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--spacer-default);
  margin-top: var(--spacer-big);
}

.button-container-row {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacer-default);
}

/* --column-based */
.element-container-col-default {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.element-container-col-start-center {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

/* --row-based */
.element-container-row-center-start {
  display: flex;
  align-items: center;
  justify-content: start;
}

.element-container-row-default {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.element-container-row-space-evenly {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.element-container-row-space-between {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacer-medium);
}

.password-rules-container {
  width: var(--width-default-percent);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: var(--spacer-small);
  padding: var(--spacer-default);
}



/* FORM ELEMENTS */
form {
  width: var(--card-width);
}


.card {
  height: fit-content;
  width: var(--card-width);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  /* background-color: var(--black); */
  /* background-color: transparent; */
  /* border-radius: var(--border-radius-big); */
  /* box-shadow: var(--box-shadow-white); */
  /* margin: var(--spacer-default); */
  /* padding: var(--spacer-biggest); */
}


/*  index.ejs */

.index-image {
  width: var(--card-width);
  height: auto;
  /* box-shadow: var(--box-shadow-white); */
  opacity: .75;
}

/* footer.ejs */
footer {
  color: var(--black);
  font-size: var(--font-size-small);
  margin: var(--spacer-biggest);
  text-align: center;
  text-transform: uppercase;
}

/* misc */

.emoji {
  font-family: var(--font-emoji) !important;
  font-weight: 100;
}

.justify-content-center {
  justify-content: center;
}

/* .uppercase {
  text-transform: uppercase;
} */
