:root {
  /* Colors */
  --black: #0e0d0c;
  --white: #ececea;

  --gray: #c0c4cf;

  --blue: #0d79f2;
  --orange: #c18266;
  --pink: #ba79b5;
  --purple: #744674;
  --gold: #ffd700;
  --gold-lt: #eee208;
  --gold-trans: #ffd70080;

  --red-bold: #dc1919;
  --blue-bold: #1818cc;


  --box-shadow-gray: inset 0 0.25rem 0.75rem var(--gray);
  /* --box-shadow-gray: inset 0 0.125rem 0.125rem var(--gray); */
  /* --box-shadow-black: inset 0 0.125rem 0.125rem var(--black); */
  /* --box-shadow-white: 0rem 1rem 3rem var(--white); */
  --box-shadow-black: 0rem 0.5rem 1rem var(--black);

  --button-default-h: 1.75rem;
  --button-default-w: 5.5rem;

  --font-title: "Audiowide", sans-serif;
  --font-text:  "Roboto", sans-serif;
  --font-emoji: "Noto Emoji", sans-serif;
  --font-size-default: 1rem;
  --font-size-large: 1.5rem;
  --font-size-title: 2.5rem;

  --text-shadow: 0 1px 3px var(--red-bold), 0 1px 3px var(--blue-bold);

  --index-card-width: 325px;
  --form-width: 325px;
  --folder-card-width: 8rem;
  --width-default-percent: 100%;

  --border-black: 2px solid var(--black);

  --border-radius-circle: 50%;
  --border-radius-big: 1rem;
  --border-radius-biggest: 1.5rem;
  --border-radius-default: 0.5rem;
  --border-radius-small: 0.25rem;

  --spacer-biggest: 1rem;
  --spacer-big: 0.75rem;
  --spacer-default: 0.5rem;
  --spacer-medium: 0.25rem;
  --spacer-small: 0.125rem;
}

html,
body {
  min-height: 100vh;
  min-width: 350px;
  margin: 0;
  padding: 0;
}

body {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start; */
  background: linear-gradient(05deg, var(--orange), var(--pink));
  color: var(--black);
  font-family: var(--font-text);
  font-size: var(--font-size-default);
}

/* main {
  background-color: white;
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Titles */
.page-title {
  background: linear-gradient(180deg, var(--black), var(--purple));
  margin-bottom: var(--spacer-default);
  text-transform: uppercase;
  -webkit-background-clip: text; /* Clips background to text shape */
  -webkit-text-fill-color: transparent; /* Makes original text color transparent */
}

/* BUTTON element */
.button-default {
  all: unset; /* nukes browser defaults */
  height: var(--button-default-h);
  width: var(--button-default-w);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  border: var(--border-default);
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow-black);
  color: var(--black);
  cursor: pointer;
  font-family: var(--font-title);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-heavy);
  margin: 0;
  text-transform: uppercase;
}

.button-default:hover {
  /* background-color: var(--orange); */
  /* background-color: transparent; */
  background-color: var(--gold);
  /* box-shadow: var(--box-shadow-black); */
  color: var(--black);
   /* transform: scale(1.125); */
}

.fit-content-button {
  width: fit-content;
  padding: 0 var(--spacer-default);
}

/* HEADER */

header {
  /* background-color: var(--blue); */
  /* border-top: 2px double var(--black);
  border-bottom: 2px double var(--black); */
  /* margin-top: var(--spacer-default); */
  margin-bottom: var(--spacer-small);
  /* padding-top: var(--spacer-small); */
  /* padding-bottom: var(--spacer-big); */
}

.sticky-header {
  position: sticky;
  top: 0;
  width: var(--width-default-percent);
}

.title, .subtitle {
  height: fit-content;
  width: fit-content;
  color: var(--gold);
  font-family: var(--font-title);
  padding: var(--spacer-default);
  text-shadow: var(--text-shadow);
  text-transform: capitalize;
}

.title h1 {
  font-size: var(--font-size-title);
}

.subtitle h2 {
  font-size: var(--font-size-large);
}

nav {
  /* background-color: var(--gold-trans); */
  /* border-top: 2px double var(--black); */
  border-bottom: 2px double var(--black);
  /* margin-bottom: var(--spacer-default); */
  padding-bottom: var(--spacer-biggest);
}

.nav-button {
  height: 2.25rem;
  width: 5rem;
  background-color: var(--gray);
  font-size: var(--font-size-large);
  font-weight: 800;
}

/* CONTAINERS */

.button-container-col {
  width: var(--width-default-percent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacer-default);
}

.button-container-row-space-evenly {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--spacer-default);
  /* margin-top: var(--spacer-big); */
}

.button-container-row {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacer-default);
}

/* --column-based */
.element-container-col-default {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.element-container-col-start-center {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

/* --row-based */
.element-container-row-center-start {
  display: flex;
  align-items: center;
  justify-content: start;
}

.element-container-row-default {
  width: var(--width-default-percent);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.element-container-row-space-evenly {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.element-container-row-space-between {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacer-medium);
}

.password-rules-container {
  width: var(--width-default-percent);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--spacer-small);
  border: var(--border-black);
  border-radius: var(--border-radius-small);
  padding: var(--spacer-default);
}



/* FORM ELEMENTS */
form {
  width: var(--form-width);
}

label {
  color: var(--gold);
  font-family: var(--font-title);
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
}

input {
  height: 1.75rem;
  width: var(--width-default-percent);
  border-radius: var(--border-radius-small);
  color: var(--black);
  font-family: var(--font-text);
  font-size: var(--font-size-default);
  margin-bottom: var(--spacer-default);
  padding-left: var(--spacer-small);
}


/*  index.ejs */

.index-card {
  height: fit-content;
  width: var(--index-card-width);
}

.index-title {
  font-family: var(--font-title);
  font-size: var(--font-size-large);
  font-weight: 800;
  color: var(--gold);
  text-shadow: var(--text-shadow);
  /* text-transform: uppercase; */
}

.index-image {
  width: var(--card-width);
  height: auto;
  /* box-shadow: var(--box-shadow-white); */
  box-shadow: var(--box-shadow-black);
  opacity: .75;
}

/* user-data.ejs */

.folder-card {
  height: fit-content;
  width: var(--folder-card-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  /* background-color: transparent; */
  border-radius: var(--border-radius-big);
  box-shadow: var(--box-shadow-black);
  color: var(--black);
  font-weight: 800;
  margin: var(--spacer-default);
  padding: var(--spacer-default);
  text-wrap: wrap;
}

.folder-card span {
  font-size: 3rem;
}

.folder-card:hover {
  background-color: var(--gold);
  transform: scale(1.125);
}

.folder-emoji {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 2rem; /* adjust as needed */
}

.folder-emoji .hovered {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.folder-emoji:hover .unhovered {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.folder-emoji:hover .hovered {
  opacity: 1;
}






/* footer.ejs */
footer {
  position: fixed;
  bottom: 0;
  color: var(--black);
  font-family: var(--font-text);
  font-size: var(--font-size-small);
  margin: var(--spacer-biggest);
  text-align: center;
  text-transform: uppercase;
}

/* misc */

.frame-border-white {
  border: 0.5rem double var(--gray);
  border-radius: var(--border-radius-big);
  padding: var(--spacer-biggest);
}

.emoji {
  font-family: var(--font-emoji) !important;
}

.flex-gap {
  gap: var(--spacer-default);
}

.justify-content-center {
  justify-content: center;
}



/* .uppercase {
  text-transform: uppercase;
} */
